@model SportShop.Models.LookupViewModel
@{
    Layout = "/Views/CRUD/_DeleteLayout.cshtml";
}
<div class="mb-3">
    <label asp-for="Id" class="form-label"></label>
    <input asp-for="Id" class="form-control" disabled>
</div>
<div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control" disabled>
</div>