@model SportShop.Models.MessageViewModels.ReviewMessageViewModel

<div class="text-center">
    @if(Model.Success == 1)
    {
    <p class="h2">
        <span><i class="bi bi-check-circle text-success"></i></span>
    </p>
    }
    else if (Model.Success == -1)
    {
    <p class="h2">
        <span><i class="bi bi-exclamation-octagon text-danger"></i></span>
    </p>
    }
    <p id="content-body" class="h3 fw-light"> @Model.Message</p>
    @if(!Model.IsSigned )
    {
    <li class="d-flex nav-item justify-content-center">
        <a asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@Model.ReturnUrl"
            class="nav-link text-white px-0">
            <span class="text-end">
                <button type="button" class="btn btn-light border text-dark me-2">
                    Đăng Ký
                </button>
            </span>
        </a>
        <a asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Model.ReturnUrl"
            class="nav-link text-white px-0">
            <span class="text-end">
                <button type="button" class="btn btn-primary">
                    Đăng Nhập
                </button>
            </span>
        </a>
    </li>
    }
</div>
