@page "/Account/ConfirmEmail"
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<a class="btn btn-success mb-3" href="/Identity/Account/Login">Login</a>
<partial name="_StatusMessage" model="Model.StatusMessage" />
