html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
a {
  text-decoration: none;
}

/*Xoa dau tang giam trong input number
Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

.symbol {
  display: inline-block;
  border-radius: 50%;
  border: 5px double white;
  width: 30px;
  height: 30px;
}

.symbol-empty {
  background-color: #ccc;
}

.symbol-filled {
  background-color: yellow;
}

.card {
  height: 100%;
}